.deleteBtn {
    width: 2.8vw;
    height: 2.9vw;
    border: 1px solid #0b0b0b;
    background-color: #0b0b0b;
    background-image: url(/assets/DeleteButton.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-left: 14px;
}