input[type="checkbox" ] {
    display: flex;
    margin: 0.2vw 1.1vw 0.2vw 0px;
}

.custom-checkbox {
    appearance: none;
}
  
.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 2vw;
    height: 2vw;
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
}
  
.custom-checkbox::after {
    position: absolute;
    content: '';
    display: block;
    width: 2vw;
    height: 2vw;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
}

.custom-checkbox:checked::after {
    content: '';
    background-image: url(/assets/CheckMark.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}