input[type="checkbox" ] {
    display: flex;
    margin: 3px 16px 3px 0px;
}

.custom-checkbox {
    appearance: none;
}
  
.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px; 
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
}
  
.custom-checkbox::after {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
}

.custom-checkbox:checked::after {
    content: '';
    background-image: url(/assets/CheckMark.svg);
    background-repeat: no-repeat;
    background-position: 0.36vw 0.75vh;
    min-width: 30px;
    min-height: 30px;
}