.Subbtn {
    width: 30px;
    height: 33px;
    background-image: url(/assets/SubmitButton.svg);
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    top: 226px;
    right: 368px;
}